body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #383838;
  }
  header{
    text-align: center;
  }
  form {
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    background: #666565;
  }
  label, input {
    display: block;
    width: 95%;
    margin-bottom: 10px;
  }
  label{
    color: #ffffff;
  }
  input {
    padding: 8px;
  }
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
  }
  button:hover {
    background: #0056b3;
  }
  h1{
    color: #6cddff;
  }
  p{
    color: #ccc;
  }
  a{
    color: #fff;
  }
  a:hover{
    color:aquamarine;
  }