body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #383838;
  }
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    background: #666565;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  label{
    color: #ffffff;
    margin-bottom: 5px;
  }
  input {
    padding: 8px;
    box-sizing: border-box;
  }
  button {
    grid-column: span 2;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    align-items: center;
  }
  button:hover {
    background: #0056b3;
  }
  h1{
    color: #6cddff;
    grid-column: span 2;
    text-align: center;
  }
  p{
    color: #ccc;
    grid-column: span 2;
    text-align: center;
  }
  a{
    color: #fff;
  }
  a:hover{
    color:aquamarine;
  }