<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/admin.css" />
    <title>WeBid Dashboard</title>
  </head>
  <body>
    <header>
      <script src="/logout.js"></script>
      <script src="/refreshToken.js"></script>
      <div class="logo"><a href="">WeBid Admin</a></div>
      <nav>
        <a href="#" onclick="logout()">Logout</a>
      </nav>
    </header>
    <h1>WeBid Admin Management Page</h1>

    <!-- Control Buttons -->
    <div style="text-align: center">
      <button class="action-btn" id="showUsersBtn">Show Users</button>
      <button class="action-btn" id="showAuctionsBtn">Show Auctions</button>
      <button class="action-btn" id="hideDataBtn">Hide Data</button>
    </div>

    <!-- Container to display users or auctions -->
    <div id="dataContainer"></div>
    <!-- Container to display messages -->
    <div id="messageContainer"></div>
    <script src="/admin.js"></script>
  </body>
</html>
