<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Auction Search & Bid</title>
    <link rel="stylesheet" href="auctions.css" />
  </head>
  <script src="/logout.js"></script>
  <script src="/refreshToken.js"></script>
  <body>
    <header>
      <div class="logo">WeBid</div>
      <nav>
        <a href="#" onclick="logout()">Logout</a>
        <a href="/createauction">Create Auction</a>
        <a href="/profile">Profile</a>
      </nav>
    </header>

    <h1>Auction Search</h1>

    <form id="auctionForm">
      <label for="itemNameInput">Enter Auction Item Name:</label>
      <input type="text" id="itemNameInput" placeholder="Item Name" required />
      <button type="submit">Search Auctions</button>
    </form>

    <div id="errorMessage"></div>

    <table id="auctionTable">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Current Bid</th>
          <th>Auction Type</th>
          <th>Remaining Time</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody id="auctionTbody"></tbody>
    </table>

    <button id="bidNowButton">Bid Now</button>

    <div id="auctionSection">
      <h2>Screen for Bidding on Auctions</h2>
      <div class="forward-container">
        <div class="forward-left">
          <h3 id="faItemName"></h3>
          <p id="faDescription"></p>
          <p id="faShippingPrice"></p>
        </div>

        <div class="forward-right">
          <p id="faCurrentPrice"></p>
          <p id="faHighestBidder"></p>
          <label for="faBidAmount" id="bidLabel">Your Bid:</label>
          <input
            type="number"
            step="0.01"
            id="faBidAmount"
            placeholder="Enter your bid amount"
          />
          <button id="faPlaceBidButton">Place Bid</button>
          <button id="payNowButton">Pay Now</button>
          <button id="buyNowButton">Buy Now</button>
          <button id="editDutchBtn">Edit Dutch Auction</button>
        </div>
      </div>
    </div>
    <script src="/auctions.js"></script>
  </body>
</html>
