<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/forgotpassword.css" />
    <header>
      <div class="logo">
        <a href="/">
          <img src="/logo.png" alt="WeBid Logo" />
        </a>
      </div>
    </header>
  </head>
  <body>
    <h1 style="text-align: center">Forgot Password</h1>
    <form id="forgot_form">
      <label>Email:</label>
      <input type="email" id="email" required />

      <label>New Password:</label>
      <input type="password" id="newPassword" required />

      <button type="submit">Update Password</button>
    </form>
    <script src="/forgotpassword.js"></script>

    <p style="text-align: center">
      Back to <a href="/authentication/login">Login</a>
    </p>
  </body>
</html>
