<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <link rel="stylesheet" href="/profile.css" />
  <script src="/logout.js"></script>
  <script src="/refreshToken.js"></script>
  <header>
    <div class="logo">
      <a href="/auth/auctions">
        <img src="/logo.png" alt="WeBid Logo" />
      </a>
    </div>
    <nav>
      <a href="#" onclick="logout()">Logout</a>
      <a href="/auth/auctions">View Auction</a>
      <a href="/authentication/forgotpassword">Forgot your password?</a>
    </nav>
  </header>
  <body>
    <div class="profile-content">
      <h1>Profile Information:</h1>
      <div class="profile-item">
        <h2>User Email:</h2>
        <h2 id="userEmail"></h2>
      </div>
      <div class="profile-item">
        <h3>UserID:</h3>
        <h3 id="userid"></h3>
      </div>
      <div class="profile-item">
        <h3>First Name:</h3>
        <h3 id="firstName"></h3>
      </div>
      <div class="profile-item">
        <h3>LastName:</h3>
        <h3 id="lastName"></h3>
      </div>
      <div class="profile-item">
        <h3>Address:</h3>
        <h3 id="address"></h3>
      </div>
      <div class="profile-item">
        <h3>PostalCode:</h3>
        <h3 id="postalCode"></h3>
      </div>
      <div class="profile-item">
        <h3>Country:</h3>
        <h3 id="country"></h3>
      </div>
      <div class="profile-item">
        <h3>City:</h3>
        <h3 id="city"></h3>
      </div>
    </div>
    <div class="notifications">
      <h1>
        Notifications: <button id="clearNotificationsBtn">Clear All</button>
      </h1>
      <div id="notificationList"></div>
    </div>

    <script src="/profile.js"></script>
  </body>
</html>
